* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.keyboard {
  border: 2px solid rgb(72, 72, 72);
  padding: 5px;
  background-color: rgb(186, 199, 211);
  margin: 0 auto;
}

.text {
  display: block;
  width: 80%;
  max-width: 1200px;
  height: 200px;
  margin: 2% 10%;
  padding: .5rem;
  font-size: 1.5rem;
}

.keyboard__key {
  display: flex;
  width: 45px;
  height: 45px;
  border: 2px solid rgb(100, 100, 100);
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin: 3px;
  color: #000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.keyboard__key_long {
  width: 60px;
}
.keyboard__key_space {
  width: 450px;
}

.active{
  background-color: darkslategrey;
}
.clear {
  clear: both;
}